.img-shadow {
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.img-shadow-lg {
  border-radius: 12px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15);
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

body {  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif !important;
  font-size: 12pt;  /* Default is usually 10pt */
}

h1 {
  font-size: 24pt;
}

h2 {
  font-size: 20pt;
}

h3 {
  font-size: 16pt;
}

code, pre {
  font-size: 11pt;
}

p {
  font-size: 12pt;
  line-height: 1.6;
}
